<ion-header class="ion-no-border header">
  <ion-item detail>
    <ion-avatar  slot="start">
      <img src="assets/images/logo.png">
    </ion-avatar>

    <ion-label class="label">
      <h2 class="titre ion-text-uppercase">Akimbi Wil</h2>
      <p>View or edit the profile</p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="ion-padding">

    <div class="titreh5">
      Account
    </div>

    <ion-item>
      <ion-label class="label">
        <h2 class="titre ion-text-uppercase">Post a product</h2>
        <p>View or edit the profile</p>
      </ion-label>
    </ion-item>

    <div class="content-area ion-margin-vertical">
      <div class="alert alert-info" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">
              Work Progress
            </span>
          </div>
        </div>
      </div>
    </div>


  </div>

</ion-content>