

<ion-content fullscreen="true">

</ion-content>


<ion-tabs>
  <ion-tab-bar  slot="bottom" color="primary">
    <ion-tab-button tab="accueil">
      <ion-icon mode="ios" name="home-outline"></ion-icon>
      </ion-tab-button>

    <ion-tab-button tab="loved">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add-product">
      <ion-icon name="add-circle-outline"></ion-icon>
     </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
     </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
     </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>